:root {
	--light: #fdf8e5;
}

body {
	background-color: var(--light);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	margin: 0;
}

.formInputs{
	width: 100%;
    display: flex;
    margin: auto;
    justify-content: start;
    height: auto;
    padding: 1%;
}

.formInputs label{
	width: 45%;
    display: inline-flex;
    justify-content: center;
}

.w12MForm{
	display: flex;
    flex-wrap: wrap;
}

.w12MForm button{
	display: inline-flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}